@model CoderGirl_MVCMovies.Models.MovieRating

@{
    ViewData["Title"] = "Rate Movie";
}

<h1>Rate a Movie</h1>
<form method='post'>
    <input readonly asp-for="MovieName" value="@Model.MovieName"/>
    <select asp-for="Rating">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <button type='submit'>Rate Movie</button>
</form>


