
@{
    ViewData["Title"] = "Movie Ratings";
}

<h1>Movie Ratings</h1>
<table>
    <tr>
        <th>Movie</th><th>Rating</th>
    </tr>
    @foreach(var movieRating in ViewBag.MovieRatings)
    {
        <tr>
            <td>@movieRating.Key</td><td>@movieRating.Value</td>
        </tr>
    }
</table>
